<a href="https://colab.research.google.com/github/THANHDAT202/DailyExercise/blob/main/AI_17_02_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#load library
import pandas as pd
#create dataframe
df = pd.DataFrame()
#add columns
df['Name'] = ['Lemon','Apple','Banana']
df['price'] = [5,8,7]
df['License'] = [False, True, True]
#show data
df

     Name  price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True

In [ ]:
#hiển thị số lượng hàng và cột
df.shape

(3, 3)

In [ ]:
#hiện tổng quan dữ liệu
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     3 non-null      object
 1   price    3 non-null      int64
 2   License  3 non-null      bool
dtypes: bool(1), int64(1), object(1)
memory usage: 179.0+ bytes

In [ ]:
list(df.columns)

['Name', 'price', 'License']

In [ ]:
#hiện thông tin cơ bản của dataframe
df.describe()

          price
count  3.000000
mean   6.666667
std    1.527525
min    5.000000
25%    6.000000
50%    7.000000
75%    7.500000
max    8.000000

In [ ]:
#hàm .loc giúp bạn lấy ra được các hàng tương ứng 
#.loc[dieu kien,[ten_cac_cot]]
#df.loc[df.quatity>5,['q]]
df.loc[df.price > 5]

     Name  price  License
1   Apple      8     True
2  Banana      7     True

In [ ]:
df.loc[df.price == 5,['Name']]

    Name
0  Lemon

In [ ]:
df.loc[(df.price == 5) | (df.Name == 'Banana'), ['Name','price']]

     Name  price
0   Lemon      5
2  Banana      7

In [ ]:
#hàm iloc
#lấy ra các hàng trùng với số thứ tự, có thể chỉ định các cột trả về tương tự với hàm loc
#cáu trúc: .iloc[từ hàng 1 tới hàng 5,từ cột A tới cột C] == .iloc[1:5,A:C]
df.iloc[0:2]

    Name  price  License
0  Lemon      5    False
1  Apple      8     True

In [ ]:
df.iloc[1:3,0:2]

     Name  price
1   Apple      8
2  Banana      7

In [ ]:
sum = df.price.sum()
print(sum)

20

In [ ]:
max = df.price.max()
print(max)

8

In [ ]:
#hàm đếm
count = df['price'].count()
print(count)

3

In [ ]:
#create new data
new = pd.Series(['Orange',18,True], index = ['Name','price','License'])
#appned row
df.append(new, ignore_index= True)

     Name  price  License
0   Lemon      5    False
1   Apple      8     True
2  Banana      7     True
3  Orange     18     True

In [ ]:
#appned columns
df['Location'] = ['USA','LAOS','FRANCE']
df

     Name  price  License Location
0   Lemon      5    False      USA
1   Apple      8     True     LAOS
2  Banana      7     True   FRANCE

In [ ]:
#df.drop('tên cột cần xóa', axis=1) # Xóa 1 cột
#df.drop(['cột 1', 'cột 2'], axis=1) # Xóa nhiều cột
#df.drop(columns=['B', 'C']) # Xóa các cột có tên là B và C
df.drop('Name',axis=1)

   price  License Location
0      5    False      USA
1      8     True     LAOS
2      7     True   FRANCE

In [ ]:
df.rename(columns={'Name':'Fruit'}, inplace=True)
df

    Fruit  price  License Location
0   Lemon      5    False      USA
1   Apple      8     True     LAOS
2  Banana      7     True   FRANCE

In [ ]:
# load library
import pandas as pd
# create url
url = 'http://winterolympicsmedals.com/medals.csv'
# load data
df1 = pd.read_csv(url)
# show data
df1.head()
#.tail(-9) là từ hàng 9 đến hết

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
df1.shape

(2311, 8)

In [ ]:
#xem chiều dài của df
print('Len:',len(df1))
#xem thông tin của dataframe
df1.info()

Len: 2311
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2311 entries, 0 to 2310
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          2311 non-null   int64
 1   City          2311 non-null   object
 2   Sport         2311 non-null   object
 3   Discipline    2311 non-null   object
 4   NOC           2311 non-null   object
 5   Event         2311 non-null   object
 6   Event gender  2311 non-null   object
 7   Medal         2311 non-null   object
dtypes: int64(1), object(7)
memory usage: 144.6+ KB

In [ ]:
#Truy xuat dữ liệu trên dataframe
#lấy 1 cột
df1['City'].head(5)

0    Chamonix
1    Chamonix
2    Chamonix
3    Chamonix
4    Chamonix
Name: City, dtype: object

In [ ]:
#lấy nhiều cột
df1[['City','Sport']].head(5)

       City       Sport
0  Chamonix     Skating
1  Chamonix     Skating
2  Chamonix     Skating
3  Chamonix   Bobsleigh
4  Chamonix  Ice Hockey

In [ ]:
#lấy bản ghi theo chỉ số
df1[34:55]

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
34,1924,Chamonix,Skiing,Cross Country S,NOR,50km,M,Silver
35,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Bronze
36,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Gold
37,1924,Chamonix,Skiing,Nordic Combined,NOR,individual,M,Silver
38,1924,Chamonix,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Gold
39,1924,Chamonix,Skiing,Ski Jumping,NOR,K90 individual (70m),M,Silver
40,1924,Chamonix,Biathlon,Biathlon,SUI,military patrol,M,Gold
41,1924,Chamonix,Bobsleigh,Bobsleigh,SUI,four-man,M,Gold
42,1924,Chamonix,Skating,Figure skating,SUI,individual,M,Bronze
43,1924,Chamonix,Curling,Curling,SWE,curling,M,Silver
44,1924,Chamonix,Skating,Figure skating,SWE,individual,M,Gold
45,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
46,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
47,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
48,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze
49,1928,St. Moritz,Skating,Figure skating,AUT,individual,M,Silver
50,1928,St. Moritz,Skating,Figure skating,AUT,individual,W,Silver
51,1928,St. Moritz,Skating,Figure skating,AUT,pairs,X,Bronze
52,1928,St. Moritz,Skating,Figure skating,AUT,pairs,X,Silver
53,1928,St. Moritz,Skating,Figure skating,BEL,individual,M,Bronze
54,1928,St. Moritz,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
#lấy các bản ghi theo điều kiện
USA_pp = df1[df1.NOC == 'USA']
USA_pp.head(-5)

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
45,1924,Chamonix,Ice Hockey,Ice Hockey,USA,ice hockey,M,Silver
46,1924,Chamonix,Skating,Figure skating,USA,individual,W,Silver
47,1924,Chamonix,Skating,Speed skating,USA,500m,M,Gold
48,1924,Chamonix,Skiing,Ski Jumping,USA,K90 individual (70m),M,Bronze
84,1928,St. Moritz,Bobsleigh,Bobsleigh,USA,five-man,M,Gold
...,...,...,...,...,...,...,...,...
2301,2006,Turin,Skiing,Alpine Skiing,USA,Alpine combined,M,Gold
2302,2006,Turin,Skiing,Alpine Skiing,USA,giant slalom,W,Gold
2303,2006,Turin,Skiing,Freestyle Ski.,USA,moguls,M,Bronze
2304,2006,Turin,Skiing,Snowboard,USA,Giant parallel slalom,W,Bronze
2305,2006,Turin,Skiing,Snowboard,USA,Half-pipe,M,Gold

In [ ]:
df.head()

    Fruit  price  License Location
0   Lemon      5    False      USA
1   Apple      8     True     LAOS
2  Banana      7     True   FRANCE

In [ ]:
df1.head()

,Year,City,Sport,Discipline,NOC,Event,Event gender,Medal
0,1924,Chamonix,Skating,Figure skating,AUT,individual,M,Silver
1,1924,Chamonix,Skating,Figure skating,AUT,individual,W,Gold
2,1924,Chamonix,Skating,Figure skating,AUT,pairs,X,Gold
3,1924,Chamonix,Bobsleigh,Bobsleigh,BEL,four-man,M,Bronze
4,1924,Chamonix,Ice Hockey,Ice Hockey,CAN,ice hockey,M,Gold

In [ ]:
city_compare = df1['City'].str.contains('Chamonix')
city_compare.head(10)

0    True
1    True
2    True
3    True
4    True
5    True
6    True
7    True
8    True
9    True
Name: City, dtype: bool